# Core Frameworks
fastapi
uvicorn
flask
flask_socketio
gunicorn

# ML & Data Science
tensorflow
numpy
pandas
scikit-learn
scipy
keras
Keras-Preprocessing
joblib
h5py

# AI/TF dependencies
absl-py
astunparse
flatbuffers
gast
google-pasta
grpcio
libclang
opt-einsum
protobuf
six

# Binance & Trading
python-binance
websockets
requests
APScheduler

# FastAPI Extras
python-multipart
python-dotenv

# Flask dependencies
click
itsdangerous
jinja2
MarkupSafe
werkzeug

# Utilities
python-dateutil
pytz
idna
certifi
charset-normalizer
importlib-metadata
