flask_socketio
flask
gunicorn
tensorflow
pandas
requests
APScheduler
websockets
protobuf
absl-py
astunparse
certifi
charset-normalizer
click
flatbuffers
gast
google-pasta
grpcio
h5py
idna
importlib-metadata
itsdangerous
jinja2
joblib
keras
Keras-Preprocessing
libclang
MarkupSafe
opt-einsum
python-dateutil
pytz
scipy
six
werkzeug
python-binance
scikit-learn
python-dotenv
fastapi==0.95.2
uvicorn==0.22.0
tensorflow==2.12.0
python-binance==1.0.19
websockets==11.0.3
numpy==1.24.3
pandas==2.0.2
python-multipart==0.0.6